﻿@model IEnumerable<CalenderView.Models.Task>
@using CalenderView.Models @*selle lisan, et saaks OMA andmetüüpe kasutada*@

@{
    ViewBag.Title = "Index";
}
<style>
    .osa:after, .osa:before {
        display: block;
        position: absolute;
        top: 0;
    }

    .osav:before {
        content: "↦";
        left: 0;
        font: bold;
        font-size: larger;
    }

    .osap:after {
        content: "↤";
        right: 0;
        font: bold;
        font-size: larger;
    }

    .lai {
        width: 400px;
        position: initial;
    }

    .osa {
        position: relative;
        text-align: center;
    }

    .no-margin {
        margin-right: 0px;
        margin-left: 0px;
    }

    .task-no-start-end {
        background-image: linear-gradient(to right, lightblue, blue);
    }

    .task-start-no-end {
        background-image: linear-gradient(to right, blue, lightblue);
    }

    .task-no-start-no-end {
        background-image: linear-gradient(to right, lightblue, blue, lightblue);
    }

    .task-start-end {
        background-image: linear-gradient(to right, blue, lightblue, blue);
    }

    .task-white {
        background-color: white;
    }

    .task {
        height: 24px;
        display: inline-block;
    }
</style>
<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@*siiani oli nende tehtud view - ma midagi siin ei torkinud*@

@*silumisemõttes, et näha, et õied numbrid tulevad controllerist*@
<p>startdate @ViewBag.StartDate.ToString("ddd dd.MMMM.yyyy")</p>
<p>calstart @ViewBag.CalStart.ToString("ddd dd.MMMM.yyyy")</p>

@* neid kahte vaatame hiljem, need on et saaks kalendris liikuda *@
@Html.ActionLink("Eelmine", "Index", new
{
    month = (ViewBag.Month==1?12:(ViewBag.Month-1)),
    year = (ViewBag.Month==1?(ViewBag.Year-1):ViewBag.Year)
})
@Html.ActionLink("Järgmine", "Index", new
{
    month = (ViewBag.Month==12?1:(ViewBag.Month+1)),
    year = (ViewBag.Month==12?(ViewBag.Year+1):ViewBag.Year)
})

@*Kalendrile pealkiri*@
<h2>@ViewBag.StartDate.ToString("MMMM yyyy")</h2>

@*kalender on TABEL - 7 veergu ja 4-6rida *@
<table class="table tabe-bordered" style="border-style:double;border-color:darkslategrey">
    <thead>
        @* tabeli päisesse nädalapäevad - kolme moodi *@
        @*<tr style="border-style:double;border-color:darkslategrey">
                @for (DayOfWeek d = DayOfWeek.Sunday; d <= DayOfWeek.Saturday; d++)
                {
                    <td class="col-lg-1" style="border-style:double;border-color:darkslategrey">@d.ToString()</td>
                }

            </tr>*@
        <tr style="border-style:double;border-color:darkslategrey">
            @*<td class="col-lg-1">Esmapäev</td>
                <td class="col-lg-1">Teisipäev</td>
                <td class="col-lg-1">Kolmapäev</td>
                <td class="col-lg-1">Neljapäev</td>
                <td class="col-lg-1">Reede</td>
                <td class="col-lg-1">Laupäev</td>
                <td class="col-lg-1">Pühapäev</td>*@
            @for (int n = 0; n < 7; n++)
            {
                <th class="col-lg-1 text-center" style="border-style:double;border-color:darkslategrey">
                    @(new DateTime(1955, 03, 07).AddDays(n).ToString("dddd"))
                </th>
            }
        </tr>
    </thead>
    @* siin lõppeb tabeli pea - see OLI lihtne osa*@

    <tbody>
        @foreach (var week in ViewBag.Dates) // käime läbi meile antud Kuupäevad
        {
            // KUI nädala esimene päev on järgmises kuus, siis me seda nädalat ei kuva
            if (week[0].Year * 12 + week[0].Month <= ViewBag.Year * 12 + ViewBag.Month)
            {
                <tr style="height:120px">
                    @* üks nädal üks rida *@
                    @foreach (DateTime day in week)
                    {
                        // nüüd käime läbi KÕIK kuupäevad selles nädalas ja teeme iga kohta ruudu
                        <td style="border-style:double;border-color:darkslategrey" class="no-margin">
                            <div class="text-right no-margin">
                                @if (day.Month == ViewBag.Month)
                                { // aga need ruudud, kus on mõne teise (eelmise või järgmise)
                                  // kuu päev, jätame tühjaks
                                    <div class="no-margin" style="border:double;border-color:red;width:100%;background-color:@(day == DateTime.Today ? "yellow" : "aqua")">
                                        <div class="float-right badge">@day.Day</div>
                                        @* ruudu üles nurka päeva number *@
                                    </div>
                                    // ja nüüd käime läbi KÕIK taskid, kellel selle päevaga asja
                                    // st see päeva on taski alguse ja lõpu vahel ja näitame teda siin kastis
                                    // NB! taskid, millel ei ole kas alguse või lõpu kuupäeva tekitavad vea!
                                    foreach (Task task in Model
                                        .Where(x => x.StartDate.HasValue || x.EndDate.HasValue) // vähemalt üks peab olema
                                        .Where(x => day <= (x.EndDate ?? x.StartDate.Value.AddDays(0)) && day >= (x.StartDate ?? x.EndDate.Value.AddDays(0)))
                                        .OrderBy(x => x.StartDate ?? x.EndDate)
                                        .Take(3)
                                        )
                                    {
                                        string taskc = "osa"
                                            + (task.StartDate == day ? " osav" : "")
                                            + (task.EndDate == day ? " osap" : "")
                                            ;
                                        <div style="background-color:lightblue;">
                                            <a href="@Url.Action("Details", new { id = task.Id })">
                                                <div class="text-center @taskc">@task.Name</div>
                                            </a>
                                        </div>
                                    }
                                }
                            </div>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
@*sellega lõppes kuukalender*@

@* vaatame, kuida teha aasta-kalender*@
@* tabelile pealkiri ja päis, seekord kuunimedega*@
<h2>Aasta @ViewBag.Year</h2>
@{
    DateTime astart = new DateTime(ViewBag.Year, 1, 1);
    DateTime aend = new DateTime(ViewBag.Year, 12, 31);

}
<table class="table table-bordered">
    <thead>
        <tr>
            <td class="col-lg-2">Ülesanne</td>
            @for (int n = 1; n < 13; n++)
            {
                <th class="col-lg-1">@(new DateTime(2000, n, 1).ToString("MMMM"))</th>
            }
            @*<td class="col-lg-1">Jaanuar</td>
                <td class="col-lg-1">Veebruar</td>
                <td class="col-lg-1">Märts</td>
                <td class="col-lg-1">Aprill</td>
                <td class="col-lg-1">Mai</td>
                <td class="col-lg-1">Juuni</td>
                <td class="col-lg-1">Juuli</td>
                <td class="col-lg-1">August</td>
                <td class="col-lg-1">Septeber</td>
                <td class="col-lg-1">Oktoober</td>
                <td class="col-lg-1">November</td>
                <td class="col-lg-1">Detsember</td>*@
        </tr>
    </thead>

    @* tabeli pea on valmis - nüüd käime läbi kõik taskid (tegelikult tuleks leida*@
    @* need taskid, mis kuidagi selle aastaga on seotud, aga las ta olla *@
    <tbody>
        @foreach (Task task in Model
            // välistame need, mis algavad peale SEDA või lõppevad enne SEDA aastat
            //.Where(x => x.StartDate?.Year <= ViewBag.Year && x.EndDate?.Year >= ViewBag.Year)
            )
        {
            // üks task üks rida tabelis
            <tr>
                <td>@task.Name</td>
                <td colspan="12" class="no-margin">
                    @*vaja leida taski algus ja pikkus*@
                    @{
                        // kõik taskid, mille algus on enne tänavust aastat saavad alguse 0
                        // kõik taskid, mis kestavad üle aasta lõpu, kestavad meie aasta lõpuni
                        DateTime tstart = (task.StartDate ?? astart) <= astart ? astart : task.StartDate.Value;
                        DateTime tend = (task.EndDate ?? aend) >= aend ? aend : task.EndDate.Value;
                        int algus = (tstart - astart).Days;
                        int kestus = (tend - tstart).Days;


                        string cstart = task.StartDate.HasValue ? " task-start" : " task-no-start";
                        string cend = task.EndDate.HasValue ? "-end" : "-no-end";
                        string cosa = "osa"
                            + ((task.StartDate.HasValue && task.StartDate.Value >= astart) ? " osav" : "")
                            + ((task.EndDate.HasValue && task.EndDate.Value <= aend) ? " osap" : "")
                            ;
                        string ctask = cosa + cstart + cend;
                    }
                    @* edasi teeme igale taskile kaks triipu
                        - üks valge pikkusega algus
                        - teine sinine pikkusega kestus
                    *@
                    <div style="width:@(algus*100/365)%" class="no-margin task task-white"><p></p></div>
                    <div style="width:@(kestus*100/365)%" class="no-margin task @ctask"><p></p></div>
                </td>
            </tr>
        }

    </tbody>

</table>